*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#6c63ff;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:600px;
}

.quiz-card{
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    color:#6c63ff;
    margin-bottom:20px;
}

.top{
    display:flex;
    justify-content:space-between;
    margin-bottom:15px;
    font-weight:bold;
}

.progress-bar{
    width:100%;
    height:10px;
    background:#ddd;
    border-radius:10px;
    overflow:hidden;
    margin-bottom:20px;
}

#progress-fill{
    width:10%;
    height:100%;
    background:#6c63ff;
}

#question{
    margin-bottom:20px;
}

.answers{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
}

.answer-btn{
    padding:15px;
    border:none;
    background:#eee;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

.answer-btn:hover{
    background:#6c63ff;
    color:white;
}

.correct{
    background:green !important;
    color:white;
}

.wrong{
    background:red !important;
    color:white;
}

#feedback{
    text-align:center;
    margin:20px 0;
    font-weight:bold;
}

.controls{
    text-align:right;
}

#next-btn,
#restart-btn{
    padding:12px 20px;
    border:none;
    background:#6c63ff;
    color:white;
    border-radius:6px;
    cursor:pointer;
    transition:.3s;
}

#next-btn:hover,
#restart-btn:hover{
    background:#574fd6;
}

.result-card{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
}

.hidden{
    display:none;
}

@media(max-width:600px){
    .container{
        width:95%;
    }
    .answers{
        grid-template-columns:1fr;
    }
}